@tailwind base;
@tailwind components;
@tailwind utilities;


.blue-bg{
  background-color: #2157C7;
}
.hero-bg{
  background-image: url("/hero-bg.png");
  /* background: url("/hero-bg.png") bottom center no-repeat; */
  
}

.token-1{
  background: url("/token-1.png") center bottom no-repeat;
  background-size: contain;
}
.token-2{
  background: url("/token-2.png") center bottom no-repeat;
  background-size: contain;
}
.token-3{
  background: url("/token-3.png") center bottom no-repeat;
  background-size: contain;
}

.token-1, .token-2, .token-3{
  min-height: 380px;
  height: 100%;
  position: relative;
}
.token-1 h4, .token-2 h4, .token-3 h4{
  position: absolute;
  bottom: 17%;
  font-size: 30px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);

}

.buy-bg{
  background: url("/buy-section-bg.png") bottom center no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .buy-bg{
    background-position: bottom;
    background-size: 175% 82%;
    /* background-size: 100% 80%; */
  }
}